# GEOS 518: Applied Hydrologic Modeling

## Problem Set 2: Autoregressive Models

In this Jupyter notebook, you will complete the following tasks with your time series of choice

#### 1. Read in the dataset and perform any additional pre-processing needed

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.tsa.api as sm
from pandas.core import datetools

# Load the Henry's fork discharge dataset
df = pd.read_csv('ArrowrockReservoirElevation.csv', names=['Elevation','Y','M','D'], skiprows=1) #read in csv with Elevation data
df['SerDates'] = pd.to_datetime(df.Y*10000+df.M*100+df.D,format='%Y%m%d') #Define the datetime format

# Create a Water Year column for our pandas data frame. This is a pretty 
# simple thing to do, but may not be necessary if you're not dealing with
# discharge data. Here's how it goes:
# 1. Create an empty array that is full of zeros and equal in length to 
#    the number of days in the record
WY = np.zeros(len(df['Y'].index)) 
# 2. For those records where the month is less than 10, their associated 
#    year is the correct water year
WY[df['M'].values < 10] = df['Y'].values[df['M'].values < 10] 
# 3. For those records where the month is greater than or equal to 10, 
#    the correct water year is one more than the current calendar year
WY[df['M'].values >= 10] = df['Y'].values[df['M'].values >= 10] + 1
# 4. Save the water year array as a column in the pandas data frame, as an
#    integer
df['WY'] = WY.astype(int)

# Print the first and last 10 records just to make sure we loaded the data okay
qrows = np.concatenate([np.arange(0,10,1),np.arange(-11,-1,1)])
df.iloc[qrows,:]

      Elevation     Y   M   D   SerDates    WY
0       3130.27  2006  10   1 2006-10-01  2007
1       3131.10  2006  10   2 2006-10-02  2007
2       3131.94  2006  10   3 2006-10-03  2007
3       3132.78  2006  10   4 2006-10-04  2007
4       3133.68  2006  10   5 2006-10-05  2007
5       3134.54  2006  10   6 2006-10-06  2007
6       3135.41  2006  10   7 2006-10-07  2007
7       3136.32  2006  10   8 2006-10-08  2007
8       3137.17  2006  10   9 2006-10-09  2007
9       3138.02  2006  10  10 2006-10-10  2007
3276    3118.21  2015   9  20 2015-09-20  2015
3277    3118.76  2015   9  21 2015-09-21  2015
3278    3119.30  2015   9  22 2015-09-22  2015
3279    3119.81  2015   9  23 2015-09-23  2015
3280    3120.37  2015   9  24 2015-09-24  2015
3281    3120.87  2015   9  25 2015-09-25  2015
3282    3121.37  2015   9  26 2015-09-26  2015
3283    3121.86  2015   9  27 2015-09-27  2015
3284    3122.24  2015   9  28 2015-09-28  2015
3285    3122.60  2015   9  29 2015-09-29  2015

#### 2. Split the dataset into a "training" dataset used to estimate the parameters of the AR mode, and a "test" dataset against which you will test the model

In [3]:
# In the following example, we're going to segment the whole dataframe
# into a training dataset (everything that's not Water Year 2015) and
# a test dataset (everything that is Water Year 2015).
df_train = df[df.WY != 2015]
df_test  = df[df.WY == 2015]

#### 3. Estimate the parameters of an AR(1) model using the training dataset
    * Compute the autocorrelation function
    * Use Yule-Walker equations to estimate the AR(1) parameters
    * Use the statsmodel AR tools to estimate the parameters based on the dataset
    * Compare the YW parameters to those from the statsmodel library

In [16]:
# Compute the autocorrelation function
Et   = E[1:-1] 
Etml = E[0:-2]
R1 = np.corrcoef(Etm1,Et)
print(R1[1,0])

0.999560918574

In [14]:
Et   = E[2:-1] 
Etm2 = E[0:-3]
R2 = np.corrcoef(Etm2,Et)
print(R2[1,0])

0.99829141405161381

In [11]:
Et = pd.Series(df_train['Elevation'].values,df_train['SerDates'].values)
E_AR1_model = sm.AR(Et).fit(1)
print(E_AR1_model.params)

const    1.537085
L1.y     0.999516
dtype: float64

#### 4. Estimate the parameters of an AR(2) model using the training dataset
    * Use Yule-Walker equations to estimate the AR(2) parameters
    * Use the statsmodel AR tools to estimate the parameters based on the dataset
    * Compare the YW parameters to those from the statsmodel library

#### 5. Apply the AR(1) and AR(2) models to the "test" dataset (the one withheld from parameter estimation)

#### 6. Plot the modeled time series for the AR(1) and AR(2) models against the observed time series for comparison

#### 7. Comment on key differences and distinctions between the models themselves and the extent to which they reproduce the observations